<p class="title-module">importar no module o <b>PoAccordionModule</b></p>

<po-accordion>
  <po-accordion-item p-label="Como comprar o produto ?" #item1>
     Accordion 1
  </po-accordion-item>

  <po-accordion-item p-label="Qual o numero telefone ?">
     Accordion 2
  </po-accordion-item>
</po-accordion>

<!-- <po-accordion>
  <po-accordion-item p-label="Como comprar o produto ?">
    So perhaps, you've generated some fancy text, and you're content that you
    can now copy and paste your fancy text in the comments section of funny cat
    videos, but perhaps you're wondering how it's even possible to change the
    font of your text? Is it some sort of hack? Are you copying and pasting an
    actual font?
  </po-accordion-item>

  <po-accordion-item p-label="Qual o numero telefone ?">
    So perhaps, you've generated some fancy text, and you're content that you
    can now copy and paste your fancy text in the comments section of funny cat
    videos, but perhaps you're wondering how it's even possible to change the
    font of your text? Is it some sort of hack? Are you copying and pasting an
    actual font?
  </po-accordion-item>
  <po-accordion-item
    p-label="Devo entrar em contato caso o produto não chegue ?"
  >
    So perhaps, you've generated some fancy text, and you're content that you
    can now copy and paste your fancy text in the comments section of funny cat
    videos, but perhaps you're wondering how it's even possible to change the
    font of your text? Is it some sort of hack? Are you copying and pasting an
    actual font?
  </po-accordion-item>
  <po-accordion-item p-label="Qual o endereço da loja ?">
    So perhaps, you've generated some fancy text, and you're content that you
    can now copy and paste your fancy text in the comments section of funny cat
    videos, but perhaps you're wondering how it's even possible to change the
    font of your text? Is it some sort of hack? Are you copying and pasting an
    actual font?
  </po-accordion-item>
</po-accordion> -->
